<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title layout:title-pattern="$LAYOUT_TITLE - Exam System">
        Exam System
    </title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css"/>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<!-- Added auth-page class -->
<body class="auth-page antialiased d-flex flex-column">

<div class="page page-center">
    <div layout:fragment="content"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
</body>
</html>

