<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content">

    <h2>User Profile</h2>

    <p>Welcome, <span th:text="${loggedInUser.name}"></span>!
        (<span th:text="${loggedInUser.role}"></span>)</p>

    <hr/>

    <p>Name: <span th:text="${user.name}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <p>Role: <span th:text="${user.role}"></span></p>
    <p>Member since: <span th:text="${user.createdAt}"></span></p>

    <br/>
    <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit Profile</a>

    <span th:if="${loggedInUser.role.name() == 'ADMIN'}">
        &nbsp;|&nbsp;
        <a th:href="@{/users/delete/{id}(id=${user.id})}"
           onclick="return confirm('Are you sure?')">Delete</a>
    </span>

    <br/><br/>

    <span th:if="${loggedInUser.role.name() == 'ADMIN'}">
        <a href="/users/all">View All Users</a>
        <br/><br/>
    </span>

    <a href="/account/settings">Account Settings</a>
    <br/><br/>
    <a href="/dashboard">Go to Dashboard</a>
    <br/><br/>
    <a href="/users/logout">Logout</a>

</div>
</body>
</html>